.title {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.animal-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
  padding: 20px;
}

body {
  background: linear-gradient(45deg, #f3f3, #e0e0e0);
}
